<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/V4 - PROJETO/src/resources/static/css/login.css">
</head>
<body>
    <div class="login-container">
        <img src="/V4 - PROJETO/src/resources/static/img/logo_ecoffe.png" alt="Logo" class="logo">
        <h2>Login</h2>
        <form>
            <input type="email" id="email" name="email" placeholder="Digite seu email" required>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
            <input type="submit" value="Login">
        </form>
        <p class="register-link">Não tem uma conta? <a href="cadastro.html">Cadastre-se</a></p>
    </div>
    <button id="theme-toggle" class="theme-toggle">🌙</button>
    <script src="/V4 - PROJETO/src/resources/static/js/login.js"></script>
</body>
</html>