/* Tamanho da tabela */
.table-container {
    margin-top: 50px;
    border-radius: 20px;
    overflow: hidden; 
}

.table {
    color: white;
    background-color: #1E1E1E;
    border-radius: 20px; 
    border: 1px solid #D2691E; 
    width: 100%;
    overflow: hidden; /* Conteudo n passa da borda */ 
}

.table th, .table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #D2691E; 
}

.table thead {
    background-color: #D2691E;
}


.table-striped tbody tr:nth-of-type(odd) {
    background-color: #D2691E; 
    color: white;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #808080; 
    color: white;
}


/* Barra de navegação */
.navbar {
    background-color: #D2691E;
    padding: 15px 30px;
}

.navbar-brand img {
    height: 50px;
    border-radius: 50%;
}

.navbar-text {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    margin-right: 15px;
    transition: color 0.3s;
}

.navbar-text:hover {
    color: #000000;
}

/* Rodapé */
footer {
    background-color: #D2691E;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}

/* Container principal */
.container {
    margin-top: 50px;
    color: white;
}

/* Título da página */
.container h2 {
    font-size: 2rem;
    color: #D2691E;
    text-align: center;
}

.container p {
    font-size: 1.2rem;
    text-align: center;
}


body {
    background-color: #222222;
}

